@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: rgb(47, 138, 199);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: rgb(47, 138, 199);
  background: #f2f2f2;
}
.content {
  max-width: 60%;
  margin: 40px auto;
  padding: 20px;
}

.home h2 {
  font-size: 1.5rem;
}

.blog-preview {
  max-width: 100%;
  padding: 1rem;
  margin: 20px 0;
  box-shadow: black;
  border: 1px solid black;
}

.blog-preview h3 {
  color: rgb(47, 138, 199);
  font-size: 13px;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px black;
}
